
@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<link href="~/Content/css/contact.css" rel="stylesheet" />

<main>
    <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel" data-bs-theme="light">

        <div class="carousel-inner">
            <div class="carousel-item active">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="rgba(43,57,145,255)" />
                    <image href="~/Images/contact.gif" width="100%" height="100%" />
                    <div class="text">
                        About Us
                    </div>
                </svg>
            </div>
        </div>
    </div>
    <hr />

    <div class="container">
        <h1>About Us</h1>

        <span>If you want to know about us you can message us at the provided email address.</span><br />
        <br><p><a href="mailto:sunshine_appointment@outlook.com">sunshine_appointment@outlook.com</a></p>
    </div>
</main>

